
@font-face {
    font-family: 'League Spartan';
    src: url('../public/fonts/LS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'League Spartan';
    src: url('../public/fonts/LS-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../public/fonts/LS-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



